.solution-buttons {
  border: 1px solid rgb(146, 142, 142);
  border-radius: 1rem;
  padding: 1rem;
}

.solution-buttons button {
  background-color: rgb(228, 245, 239);
  border: 1px solid rgb(170, 165, 165);
  border-radius: 1rem;
  padding: .25rem;
  width: 6rem;
}
